%br/
%br/
%br/
.jumbotron.jumbotron-fluid
    .container
        %h1.display-4 Update this Research & Professional Activity
        %br/
        %br/
        %br/
        = render 'rseform'
%br/
%br/
%br/ 