%br/
%br/
%br/
.jumbotron.jumbotron-fluid
    .container
        %h1.display-4 Update this Teaching Activity
        %br/
        %br/
        %br/
        = render 'teform'
%br/
%br/
%br/ 

/= render 'tform'