= simple_form_for([@report, @report.rfactivities.build]) do |f|
  %h2 
%p Choose a type of reference to add
.dropdown
  %button.dropbtn{:onclick => "myFunction()"} Refrences
  #myDropdown.dropdown-content
    %input#myInput{:onkeyup => "filterFunction()", :placeholder => "Search..", :type => "text"}/
    %a= link_to "books",  new_book_path(@report) 
    %a= link_to "collaborations with student",  new_collabswstudent_path(@report) 
    %a= link_to "collaborations with student",  new_collabswfaculty_path(@report) 
    
    
:javascript
  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
  }
  
  function filterFunction() {
      var input, filter, ul, li, a, i;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      div = document.getElementById("myDropdown");
      a = div.getElementsByTagName("a");
      for (i = 0; i < a.length; i++) {
          if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
              a[i].style.display = "";
          } else {
              a[i].style.display = "none";
          }
      }
  }