.form-container
    .row
        .col-md-1
        .col-md-10
            %ul.list-group
                %li.list-group-item.list-group-item-info
                    .row
                        .col-md-1
                        .col-md-10
                            %h3= "Year of Report:"
                            %br/
                            %form
                                .form-group
                                    %label{:for => "sel1"} Select Year:
                                    %select#sel1.form-control
                                        %option 2018 
                                        = link_to '22'
                                        %option 2019
                                        %option 2020
                                    %br/
                                    .row
                                        .col-md-8
                                        .col-md-1
                                            = link_to "Cancel", '/'
                                        .col-md-2
                                            = link_to "Select", '24'
                    %br/